

.app-sidebar .main-sidebar-header {
    height: 7.75rem;
    width: 15rem;
    position: fixed;
    display: flex;
    /*background: #ffffff;*/
}
.logoImag{
    background: #fff;
    padding: 7px 18px;
    border-radius: 16px;
}
.main-sidebar {
    margin-block-start: 8.72rem;
}
.loading {
    background: #000;
    color: #fff;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: .7;
    background-size: 110px;
}
.d-N {
    display: none;
}
.loading p {
    position: fixed;
    left: 44%;
    top: 50%;
    color: #ffff;
    font-size: 17px;
}
.page-header-breadcrumb h4 svg{
    margin-right: 7px;
}

.my_btn{
    display: flex;
    vertical-align: middle;
    align-items: center;
}
.my_btn svg{
    margin-right:5px;
}
.list-image{
    height: 90px;
    width: 90px;
    border: 1px solid gainsboro;
    border-radius: 9px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #f5dc00;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
